{% extends "blog/base.html" %}
{% block title%}
    Finance4india | add category
{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
    <h1  class="font-weight-bold">Add Category</h1>

    <div class="container-fluid">
        <div class="form-group">
            <form method="POST">
                {% csrf_token%}
                {{ form.as_p }}
                <button class="btn btn-dark" type="submit" >Add</button>
            </form>
        </div>

    </div>
    
{% else %}
    <h1>You are not eligible to see this post.</h1>

{% endif %}

{% endblock %}

