{% extends 'blog/base.html' %}

{% block title %}
    Finance4india | {{ blog.title_tag }}
{% endblock %}

{% block content %}

<h2>{{ blog.title }}</h2>
<small>By : {{ blog.author }} - {{ blog.created_at }}
    {% if user.is_authenticated %}
        <a href="{% url 'editpost' blog.pk %}">(edit)</a> </small>
    {% endif %}

<h4>{{ blog.description|safe }}</h4>

<a href='{% url "home" %}' style="text-decoration: none;">
<button class="btn btn-primary" name="back">Back</button>
</a>
{% endblock %}