{% extends "blog/base.html" %}
{% block title%}
    Finance4india | Edit blog
{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == blog.author.id %}
        <h1  class="font-weight-bold">Edit Blog</h1>

        <div class="container-fluid">
            <div class="form-group">
                <form method="POST">
                    {% csrf_token%}
                    {{ form.as_p}}
                    <button class="btn btn-dark" type="submit">Update</button>
                </form>        
            </div>
        </div>
            
    {% else %}
    <h1> You'r are not allowed here </h1>
    {% endif %}

{% else %}
<h1> You'r are not allowed here </h1>

{% endif %}


{% endblock %}

